.container {
    background-image: url("https://kartinki.pics/uploads/posts/2022-12/thumbs/1669954475_19-kartinkin-net-p-belii-fon-dlya-saita-krasivo-19.jpg");
    background-size: cover;
    background-position: center;
}